modules = ["java-graalvm22.3"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["gradle"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run Java Application"

[[workflows.workflow]]
name = "Run Java Application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./gradlew run --console=plain"

[workflows.workflow.metadata]
outputType = "console"
